<footer class="footer">
    <div>
        <div class="description">
            <h4>Soweto Complex</h4>
            <p>We are committed to equity in education, high expectations for all and partnering with families and the community to ensure that all children achieve their potential.</p>
        </div>

        <div class="contact">
            <h4>Contact</h4>
            <div class="contact-details">
                <p><ion-icon name="location-outline"></ion-icon> Soweto, Embakasi, Kenya</p>
                <p><ion-icon name="mail-outline"></ion-icon> info@sowetocomplex.com</p>
                <p><ion-icon name="call-outline"></ion-icon>+254 712 345 678</p>
            </div>

            <div class="social-links">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy; 2022. All rights reserved</p>
    </div>
</footer>